theme
<script setup lang="ts">
  import { MoonIcon as MoonIconOutline } from '@heroicons/vue/outline'
  import { MoonIcon as MoonIconSolid } from '@heroicons/vue/solid'
  import { useTheme } from '../../../stores/theme'

  const themeStore = useTheme()
</script>

<template>
  <button @click="themeStore.toggle()" class="h-full">
    <MoonIconSolid
      v-if="themeStore.theme === 'dark'"
      class="h-full w-9 stroke-1 text-gray-300 hover:text-gray-400"
    />
    <MoonIconOutline
      v-else
      class="h-full w-9 stroke-1 text-gray-300 hover:text-gray-400"
    />
  </button>
</template>
