<script setup lang="ts">
  import { useAuth0 } from '@auth0/auth0-vue'
  import { UserCircleIcon } from '@heroicons/vue/outline'
  import { Popover, PopoverButton, PopoverPanel } from '@headlessui/vue'
  import PrimaryButton from '../../buttons/PrimaryButton.vue'
  import SecondaryButton from '../../buttons/SecondaryButton.vue'

  const { loginWithRedirect, logout, isAuthenticated } = useAuth0()
  const login = async () => {
    loginWithRedirect()
  }
  const logoutUser = async () => {
    logout({
      returnTo: window.location.origin,
    })
  }
</script>

<template>
  <Popover class="relative h-full">
    <PopoverButton class="h-full">
      <UserCircleIcon
        class="h-full w-9 stroke-1 text-gray-300 hover:text-gray-400"
      />
    </PopoverButton>

    <transition
      enter-active-class="transition ease-out duration-75"
      enter-from-class="opacity-0"
      enter-to-class="opacity-100"
      leave-active-class="transition ease-in duration-75"
      leave-from-class="opacity-100"
      leave-to-class="opacity-0"
    >
      <PopoverPanel
        class="absolute z-10 w-60 right-1/2 drop-shadow-md bg-white dark:bg-zinc-800 rounded mt-4"
      >
        <div v-if="isAuthenticated" class="relative grid gap-4 grid-cols-1 p-3">
          <div>
            <PopoverButton :as="SecondaryButton">Profile</PopoverButton>
          </div>
          <div>
            <PopoverButton :as="PrimaryButton" @click="logoutUser"
              >Log Out</PopoverButton
            >
          </div>
        </div>

        <div v-else class="relative grid gap-4 grid-cols-1 p-3">
          <div>
            <PopoverButton :as="PrimaryButton" @click="login"
              >Login</PopoverButton
            >
          </div>
          <div>
            <PopoverButton :as="SecondaryButton">Sign Up</PopoverButton>
          </div>
        </div>
      </PopoverPanel>
    </transition>
  </Popover>
</template>
