<script setup lang="ts">
  import UserButton from './buttons/UserButton.vue'
  import ColourSchemeButton from './buttons/ColourSchemeButton.vue'

  defineProps()
</script>

<template>
  <nav class="w-screen h-full flex flex-row p-1 dark:bg-zinc-800">
    <div class="prose prose-sm pl-3">
      <h1 class="font-light text-blue-600">bandlounge</h1>
    </div>
    <div class="flex-auto"></div>
    <div class="shrink">
      <ColourSchemeButton />
    </div>
    <div class="shrink">
      <UserButton />
    </div>
  </nav>
</template>
