<script setup lang="ts">
  import NavBar from '../components/navigation/NavBar.vue'
</script>

<template>
  <header class="">
    <NavBar />
  </header>
  <main class="bg-slate-200 dark:bg-zinc-900 grow">
    <router-view />
  </main>
  <footer></footer>
</template>

<style scoped></style>
